body {
  color: #1E88E5;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  margin: 1% auto;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

}

main {
  color: #afafaf;
  overflow: hidden;
  width: 100%;
}


.form-holder {
  background: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 50px auto 20px;
  // min-height: 100px;
  width: 100%;

    .searchImagesForm {
      align-content: center;
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    input {
      align-self: center;
      background: transparent;
      border: none;
      border-bottom: 3px solid #1E88E5;
      font-size: 1.2rem;
      margin: 0 auto;
      text-align: center;
      width: 100%;

    }

    button {
      border: 0.5px solid black;
      background: transparent;
      margin: 10px auto;
      text-align: center;
    }

}

.listSearchItems {
  color: #000;
  margin: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  p {
    min-height: 50px;
    text-align: center;
    width: 100%;
  }
}

.listSearchItems img {
  border: 25px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 15px;
  height: 300px;
  width: auto;

}

.lightbox {
    align-items: center;
    background: rgba(0,0,0,.75);
    display: flex;
    height: 100vh;
    justify-content: center;
    float: left;
    width: 100vw;
    z-index: 100;
}

.is-hidden {
  display: none;
}

.is-showing {
  display: inline;
}
